/* Layout
===================================================== */

body{
    padding-top: 100px;
    background-color: #2b669a;
    padding-bottom: 0;
}


#cont1{
    max-width: 1100px;
}
#cont2{
    max-width: 1100px;
}
/* Navbar
=====================================================*/
#top {
    font-weight: bold;
    padding-top: 15px;
    background-color: #222222;
}

#navpills{
    padding-top: 4px;
}

#bottom{
    height: 35px;
    padding-bottom: 4px;
    background-color: #222222;
}
/* Jumbotron
===================================================== */
.jumbotron{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
    max-width: 1100px;
}

/* Logos and icons
===================================================== */
/* Glyphicon
===================================== */
.glyphicon{
    font-size: 4em;
    display: block;
    text-align: center;
    color: #0f0f0f;
}
