body{
    padding-top: 80px;
    background-color: #2b669a;
}

.container{
    max-width: 1100px;
}

/* Navbar
=====================================================*/
.navbar-text {
    font-weight: bold;
    padding-top: 9px;
}

#heading{
    padding-bottom: 40px;
}

.nav-pills{
    padding-top: 4px;
}

/* Logos and icons
===================================================== */
/* Glyphicon
========================================== */
.glyphicon{
    font-size: 3em;
    display: block;
    text-align: center;
    color: #337ab7;
}
