<!DOCTYPE html>
<html lang="en">
<head>
    {% Extends "Lists.html" %}
    <meta charset="UTF-8">
    <title>{% block title %}Add Item{%endblock%}</title>
    {% block body%}
    <link href="../static/css/Add-item.css" rel="stylesheet" media="screen">
</head>
<body>
  <div class="container">
      <div class="panel panel-default">
           <div class="panel-heading">
               <h3 class="panel-title text-center">
                   {% if title %}
                      {{ title }}
                   {% endif %}
               </h3>
           </div>
           <div class="panel-body">
               <ul class="list-group">
                   <li class="list-group-item">
                       <label>
                           <input type="checkbox" class="pull-left">
                       </label>
                       <label>
                           <input type="text" name="item">
                       </label>
                       <a href="#"><i class="glyphicon glyphicon-edit pull-right"></i></a>
                       <a href="#"><i class="glyphicon glyphicon-trash pull-right"></i></a>
                   </li>
               </ul>
           </div>
      </div>
  </div>
{% endblock %}
</body>
</html>