<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../static/css/bootstrap-theme.min.css" rel="stylesheet" media="screen">
    <link href="../static/css/index.css" rel="stylesheet" media="screen">
    {% block title %}Add List{% endblock %}
</head>
<body>

<!--Navbar-->
<nav class="nav navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="homepage.html" class="navbar-brand text-muted">BUCKET LIST</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav nav-pills navbar-right">
                <li class="active"><a href="/logout">Sign out</a></li>
            </ul>
        </div>
    </div>
</nav>
<!--End Navbar-->

<div class="container">

<!--Bucketlists page-->
    <div class="page-header">
        <h1 id="heading" class="text-center">Welcome {{ user }}</h1>
    </div>

    <div class="">
        <a type="button" class="btn btn-primary text-center" href="/addbucketlist">Add bucketlist</a>
    </div>
    <div class="list-group">
         {% if bucketlist %}
             <a class="" href="/additems" >{{ bucketlist.title }}</a>
            {% endif %}
    </div>
<!--End Bucketlists page-->

</div>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
</body>
</html>
