<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "homepage.html" %}
    {% block title %}Sign Up{% endblock %}
    {% block body %}
    <link href="../static/css/my_styles.css" rel="stylesheet" media="screen">
</head>
<body>

<!--Navbar-->
<nav class="nav navbar-inverse navbar-fixed-top">
    <div id="cont1" class="container">
        <div class="navbar-header">
            <a href="#" class="navbar-brand text-muted">BUCKET LIST</a>
        </div>

        <div class="collapse navbar-collapse" data-toggle="navbar-collapse" data-target="#navbar-collapse">
            <ul class="nav nav-pills navbar-right" id="navpills">
                <li><a href="/">Home</a></li>
                <li><a href="/signin">Sign In</a></li>
                <li class="active"><a href="/signup">Sign Up</a></li>
            </ul>
        </div>
    </div>
</nav>
<!--End Navbar-->

<!--Sign Up Jumbotron-->
<div id="cont2" class="container">
    <div class="row jumbotron">
        <div class="lead">
            <h2>Create an account</h2>
        </div>
         <form action="{{ url_for("signup") }}" class="form-horizontal" method="POST" name="signup">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Username" required><br>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Confirm Password" required>
            </div>
             {% if error %}
                 <p style="color: red;"> {{error}} </p>
             {% endif %}

             <div class="form-group">
                 <input type="submit" value="Sign Up" class="btn btn-success" href="">
             </div>
         </form>
        <div>
            <p class="text-center">Have an account? <a href="/signin">Sign In</a></p>
        </div>
    </div>
</div>
<!--End Sign Up Jumbotron-->
{% endblock %}

</body>
</html>